* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: Arial;
  padding: 25px;
  background-color: #a9dddd;
  background-attachment: fixed;
}

.header {
  padding: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: +static;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.9);
}

.header h1 {
  font-size: 40px;
  color: black;
}

.header h2 {
  font-size: 20px;
  color: black;
}

h1 {
  font-size: 35px;
  color: black;
}

h2 {
  font-size: 25px;
  color: black;
  text-align: center;
}

h4 {
  font-weight: bold;
  text-align: left;
}

.test {
  color: whitesmoke;
}

p {
  font-size: 16px;
  font: Arial;
  color: black;
}

.frageText {
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: 0;
  display: block;
  padding: 0px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: inherit;
  width: 100%;
  font-size: 18px;
}

.radioBtn .col-auto {
  color: black;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 2px;
}

.card {
  background-color: hsla(0, 0%, 100%, 0.9);
  padding: 20px;
  margin-top: 10px;
  color: whitesmoke;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  color: #000;
}

.back-button {
  position: absolute;
  left: 0;
  transform: translateX(50%);
}

.further-button {
  position: absolute;
  right: 0;
  transform:  translateX(50%);
}